!=================================!
!=> rxvt-unicode terminal stuff <=!
!=================================!
URxvt*.saveLines:    2048
URxvt*.visualBell:   false
URxvt*.urgentOnBell: true

URxvt*.font:         xft:DejaVu Sans Mono:size=10
URxvt*.boldFont:     xft:DejaVu Sans Mono:bold:size=10
URxvt*.scrollBar:    false
! Color to fade to
URxvt*.fadeColor:    #000000
! Percentage to fade towards fadeColor
URxvt*.fading:       5

! urxvt color scheme:
URxvt*.background:   #323232
URxvt*.foreground:   #DEDEDE
URxvt*.colorUL:      #86a2b0

! pseudo transparency
URxvt*.transparent:  true
! 0-99 darkens, 101-200 lightens
URxvt*.shading:      80

! font spacing
URxvt.letterSpace: -1

! Plugins
URxvt.perl-ext-common: font-size

URxvt.keysym.C-equal:  perl:font-size:increase
URxvt.keysym.C-minus:  perl:font-size:decrease
URxvt.keysym.C-0:      perl:font-size:reset

!==============!
!=> Xft font <=!
!==============!
Xft*.antialias:      true
Xft*.hinting:        full

!=============!
!=> Colours <=!
!=============!

! This theme is: rand Arch forums tweaked
! black
*color0:       #212121
*color8:       #555753
! red
*color1:       #CC0000
*color9:       #EF2929
! green
*color2:       #4E9A06
*color10:      #8AE234
! yellow
*color3:       #C4A000
*color11:      #FCE94F
! blue
*color4:       #3465A4
*color12:      #729FCF
! magenta
*color5:       #75507B
*color13:      #B36C96
! cyan
*color6:       #06989A
*color14:      #52C3C9
! white
*color7:       #DEDEDE
*color15:      #EEEEEC
